:root {
  --hilight-color: #2196f3;
  --text-color: #212121;
  --uppercontacts-color: #757575;
  --address-color: #ffffff99;
  --logo-color: #000000;
  --buttons-color: #f5f4fa;
  --headerbackground-color: #ffffff;
  --akcent-color: #2f303a;
  --uppericons-color: rgba(175, 177, 184, 1);
  --smedia-color: #afb1b8;
  --border-color: #eeeeee;
  --smediafooter-color: #ffffff1a;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--headerbackground-color);
  font-size: 14px;
  width: 1600px;
  position: relative;
}

.header .logo {
  font-family: "Railway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  justify-content: flex-start;
  align-items: center;
}
.footer .logo {
  display: inline-flex;
  font-family: "Railway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 20px;
  text-decoration: none;
  align-items: center;
}

.logo .logo__theme {
  color: var(--hilight-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 0.03em;
}
.logo .logo__upper-style {
  color: var(--logo-color);
}
.logo .logo__lower-style {
  color: var(--headerbackground-color);
}

.main-section {
  list-style: none;
  letter-spacing: 0.06em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/background_img.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-section .container {
  list-style: none;
  letter-spacing: 0.06em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.main-section [type="button"] {
  box-sizing: content-box;
  background-color: var(--buttons-color);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  font-family: "Roboto";
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-top: 30px;
  padding: 0 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section [type="button"]:hover,
.main-section [type="button"]:focus {
  background-color: var(--hilight-color);
  cursor: pointer;
  color: var(--headerbackground-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.interactive-elements {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.interactive-elements [type="button"] {
  background-color: var(--buttons-color);
  font-weight: 500;
  font-size: 16px;
  border: none;
  font-family: "Roboto";
  border-radius: 4px;
  width: 121px;
  height: 38px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.interactive-elements [type="button"]:hover,
.interactive-elements [type="button"]:focus {
  background-color: var(--hilight-color);
  cursor: pointer;
  color: var(--headerbackground-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}

.contact-header__contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--uppercontacts-color);
  font-weight: 500;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  display: flex;
  flex-direction: column;
}
.address > p {
  display: flex;
  color: var(--headerbackground-color);
  font-style: normal;
  margin-bottom: 9px;
  margin-top: 0;
}
.address > a {
  color: var(--address-color);
  font-style: normal;
  margin-right: auto;
  margin-bottom: 9px;
  font-weight: 400;
  text-decoration: none;
}

.navigation {
  display: flex;
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 364px;
  padding-left: 93px;
  gap: 46px;
  justify-content: space-evenly;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}
.navigation li > a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation li > a:hover,
.navigation li > a:focus {
  color: var(--hilight-color);
}
.navigation .navigation__underline-agency::after {
  position: absolute;
  top: 76px;
  display: block;
  width: 53px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hilight-color);
  content: "";
  background-size: contain;
}
.navigation .navigation__underline-portfolio::after {
  position: absolute;
  top: 76px;
  display: block;
  width: 58px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hilight-color);
  content: "";
  background-size: contain;
}

.team__team-title p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}
.team__team-title .team-title__label {
  color: var(--uppercontacts-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 16px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  color: var(--headerbackground-color);
  text-align: center;
  line-height: 60px;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
h2 {
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
h4 {
  font-weight: 700;
  margin: 0;
}
.description {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.description p {
  color: var(--uppercontacts-color);
  line-height: 1.714;
  font-weight: 400;
  letter-spacing: 0.03em;
  width: 270px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 0;
}
.portfolio-description p {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  padding: 20px 24px 0;
  margin: 0 auto 4px;
}
.portfolio-description span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--uppercontacts-color);
  padding: 0px 24px 20px;
}
.page-header {
  display: flex;
  align-items: center;
  background-color: var(--headerbackground-color);
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  display: flex;
  align-items: center;
  background-color: var(--headerbackground-color);
}

.page-footer {
  background-color: var(--akcent-color);
  height: 252px;
  width: 1600px;
  margin-right: auto;
}

.page-footer .container {
  display: flex;
}

.contact-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-header__contact-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  fill: var(--uppercontacts-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header__contact:hover,
.contact-header__contact:focus {
  color: var(--hilight-color);
}
.contact-header__contact:hover .contact-header__contact-icon,
.contact-header__contact:focus .contact-header__contact-icon {
  fill: var(--hilight-color);
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.gallery__item {
  flex-basis: ((100% - 2 * 30)/3);
}

.team {
  width: 1600px;
  height: 708px;
  background-color: var(--buttons-color);
}
.team__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
  background: var(--headerbackground-color);
  padding: 0;
}
.portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  padding-left: 0;
}
.portfolio__portfolio-list {
  flex-basis: ((100% - 2 * 30px)/3);
  background: var(--headerbackground-color);
}
.portfolio__portfolio-list:hover,
.portfolio__portfolio-list:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

figure {
  margin: 0 auto;
}
.portfolio-description {
  border-bottom: 1px solid var(--border-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-top {
  padding-top: 94px;
}
.container {
  max-width: 1200px;
  margin-left: 215px;
}
.description__icon-background {
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  margin-bottom: 30px;
}
.team__social-media {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}
.social-media__background {
  display: flex;
  border-radius: 50px;
  margin-bottom: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__social-media-background {
  display: flex;
  background-color: var(--smediafooter-color);
  border-radius: 50px;
  margin-bottom: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__social-media-background:hover,
.page-footer__social-media-background:focus {
  background-color: var(--hilight-color);
}
.social-media__background:hover,
.social-media__background:focus {
  background-color: var(--hilight-color);
}

.team__social-media > li {
  height: 44px;
}
.social-media__icon {
  fill: var(--smedia-color);
}
.page-footer__social-media-icon {
  fill: var(--headerbackground-color);
}
.social-media__background:hover .social-media__icon,
.social-media__background:focus .social-media__icon {
  fill: var(--headerbackground-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__header {
  text-transform: uppercase;
  color: var(--headerbackground-color);
  padding-top: 72px;
  margin-left: 70px;
}
.page-footer__social-media {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
  margin-top: 20px;
  padding-left: 0;
  gap: 10px;
}
.clients__background {
  border: 1px solid var(--smedia-color);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.clients:last-child {
  padding-right: 0;
}
.clients__logo {
  fill: var(--smedia-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__background:hover,
.clients__background:focus {
  border: 1px solid var(--hilight-color);
  cursor: pointer;
}
.clients__background:hover .clients__logo,
.clients__background:focus .clients__logo {
  fill: var(--hilight-color);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  transition-duration: 0.5s;
  transition-delay: 0;
  transition-timing-function: linear;
}

.modal-window {
  display: block;
  position: relative;
  width: 528px;
  height: 581px;
  top: 221px;
  left: 536px;
  border-radius: 4px;
  background-color: var(--headerbackground-color);

  visibility: visible;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal-window__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  left: 490px;
  background-color: inherit;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}
.gallery__style {
  position: relative;
  width: 370px;
  height: 294px;
}
.gallery__style > .gallery__label {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  text-transform: uppercase;
  font-size: 24px;
  background-color: rgba(47, 48, 58, 0.8);
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto";
  font-style: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 16.41px;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
}
.box {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.box__overlay {
  background-color: var(--hilight-color);
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
  display: flex;
  text-align: left;
  line-height: 28px;
  position: absolute;
  transform: translateY(101%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box__overlay > p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 49px 45px 49px 24px;
}

.portfolio__portfolio-list figure:hover .box__overlay {
  transform: translateY(0);
}
.newsletter__button {
  display: flex;
  position: relative;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: white;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-left: 42px;
  cursor: pointer;
}
.newsletter__button > svg {
  position: absolute;
  top: 13px;
  left: 148px;
}

.newsletter__icon-send {
  fill: rgba(255, 255, 255, 1);
}
.newsletter__box {
  display: flex;
  flex-direction: column;
  margin-left: 78px;
}
.newsletter__label {
  text-transform: uppercase;
  color: var(--headerbackground-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  padding-top: 72px;
  padding-bottom: 20px;
}
.newsletter__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter {
  display: flex;
  position: relative;
  top: 0;
}
.newsletter__content {
  display: flex;
  padding-top: 109px;
  padding-left: 12px;
}
.modal-window__modal-list {
  position: relative;
  list-style: none;
  padding-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 12px;
}

.modal-window__modal-list > li {
  padding-bottom: 10px;
}
.modal-window__modal-list :nth-child(4) {
  padding-bottom: 20px;
}
.modal-window__modal-list :nth-child(5) {
  padding-bottom: 30px;
  display: block;
}
.modal-window__submit-button {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 491px;
  left: 164px;
  border: none;
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 0 0;
  cursor: pointer;
}
.modal-window__modal-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 40px;
  margin-top: 0;
  padding-bottom: 0px;
  margin-bottom: 0;
}
.modal-list__label {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 1);
  padding-bottom: 4px;
}

.modal-list__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding-left: 42px;
}

.modal-list__input:focus {
  outline: 1px solid rgba(33, 150, 243, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list__input:focus + .form-icon {
  fill: rgba(33, 150, 243, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list__input-comment {
  resize: none;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}
.modal-list__input-comment:focus {
  outline: 1px solid rgba(33, 150, 243, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list__input-comment:placeholder-shown {
  padding: 12px 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.therms__label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
  position: absolute;
  padding-left: 79px;
}
.therms__label a {
  color: rgba(33, 150, 243, 1);
}
.form-icon {
  display: flex;
  position: absolute;
  left: 53px;
  fill: rgba(33, 33, 33, 1);
}
.form-icon--email {
  top: 177px;
}
.form-icon--phone {
  top: 110px;
}
.form-icon--person {
  top: 41px;
}
.therms__checkbox {
  appearance: none;
}

.therms__label::before {
  position: absolute;
  display: block;
  top: 4px;
  left: 55px;
  cursor: pointer;
  content: "";
  width: 16px;
  height: 15px;
  transition-duration: 250ms;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Cpath fill='%23212121' d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z'/%3E%3C/svg%3E");
}
.therms__checkbox:checked + .therms__label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-position: center;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.therms {
  display: block;
  position: relative;
}
