@import "./utils/common";
@import "./utils/vars";
@import "./components/navigation";
@import "./components/logo";
@import "./components/header";
@import "./components/contact";
@import "./components/main-section";
@import "./components/description";
@import "./components/gallery";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/social-media-footer";
@import "./components/social-media-team";
@import "./components/newsletter";
@import "./components/modal-window";
@import "./components/buttons-portfolio";
@import "./components/portfolio";
@import "./components/address";
@import "./components/menu-toggle";
