.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 251px;

  > p {
    display: flex;
    color: var(--headerbackground-color);
    font-style: normal;
    margin-bottom: 9px;
    margin-top: 0;
    justify-content: center;
  }

  > a {
    color: var(--address-color);
    font-style: normal;
    margin-bottom: 9px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1260px) {
  .address {
    margin: 0;

    > p {
      justify-content: flex-start;
    }

    > a {
      justify-content: flex-start;
    }
  }
}
