.interactive-elements {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  padding-left: 0px;

  [type="button"] {
    background-color: var(--buttons-color);
    font-weight: 500;
    font-size: 16px;
    border: none;
    font-family: "Roboto";
    border-radius: 4px;
    width: 121px;
    height: 38px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--hilight-color);
      cursor: pointer;
      color: var(--headerbackground-color);
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    }
  }
}
