.clients {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
  margin-bottom: 30px;
  gap: 30px;

  &__list {
    margin: 0 auto;
  }

  /*&:last-child {
    padding-right: 0;
  }*/
  &__logo {
    fill: var(--smedia-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    x: 58px;
    y: 16px;
  }
  &__background {
    border: 1px solid var(--smedia-color);
    width: 210px;
    height: 92px;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid var(--hilight-color);
      cursor: pointer;

      .clients__logo {
        fill: var(--hilight-color);
      }
    }
  }
}
.clients-header {
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  padding-top: 60px;
}
