.clients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 60px;
  margin-bottom: 60px;
  margin: 60px auto;
  padding-left: 0px;
  gap: 30px;

  &__list {
    margin: 0 auto;
  }

  &__background {
    border: 1px solid var(--smedia-color);
    width: 210px;
    height: 92px;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid var(--hilight-color);
      cursor: pointer;

      .clients__logo {
        fill: var(--hilight-color);
      }
    }
  }

  &__logo {
    fill: var(--smedia-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.container {
  min-width: 320px;
  max-width: 480px;
  margin: 0px auto;
}

.clients-header {
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  padding-top: 60px;
}

@media (min-width: 769px) and (max-width: 1260px) {
  .container {
    min-width: 1260px;
  }

  .clients {
    width: 769px;
    margin: 60px auto 30px;
    justify-content: center;

    &__list {
      flex-basis: calc((100% - 2 * 30%) / 3);
      margin: 0px;
    }

    &__background {
      width: 216px;
    }
  }
}

@media (min-width: 1261px) {
  .clients {
    width: 100%;
    justify-content: space-evenly;

    &__list {
      margin: 0;
    }

    &__background {
      width: 170px;
    }

    &__logo {
      x: 32px;
    }
  }
  .container {
    max-width: 1260px;
  }
}
