.description {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 30px;
  padding-left: 0;

  &__list {
    margin-left: 15px;
    margin-right: 15px;
  }

  &__header {
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
  }
  &__icon-background {
    background-color: var(--buttons-color);
    border-radius: 4px;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
  }

  p {
    color: var(--uppercontacts-color);
    line-height: 1.714;
    font-weight: 400;
    letter-spacing: 0.03em;
    width: 100vw;
    width: calc(100% - 30px);
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
.section-top {
  padding-top: 60px;
  padding-bottom: 60px;
}
