/*.footer {
  background-color: var(--akcent-color);
  height: 252px;
  width: 1600px;
  margin-right: auto;

  .container {
    display: flex;
  }
}*/
@media (max-width: 767px) {
  .footer {
    background-color: var(--akcent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
  }
}
