.footer {
  display: block;
  background-color: var(--akcent-color);
  width: 100vw;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    margin: 0 0;
    max-width: 768px;
    align-items: center;
    min-width: 768px;

    .container {
      width: 100vw;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }

    &__data {
      margin: 0 auto;
    }
  }
}

@media (min-width: 769px) {
  .footer {
    display: flex;
    min-width: 1200px;
    flex-direction: row;
    margin: 0 auto;
    height: 252px;

    &__data {
      margin: 0;
    }

    .container {
      max-width: 1200px;
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
    }
  }
}
