.gallery {
  list-style: none;
  display: none;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  &__item {
    flex-basis: calc((100% - 2 * 30%) / 3);
  }
}

.gallery__style {
  position: relative;
  width: 370px;
  height: 294px;
  > .gallery__label {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    text-transform: uppercase;
    font-size: 24px;
    background-color: rgba(47, 48, 58, 0.8);
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto";
    font-style: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 16.41px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.secondary-header {
  display: none;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
@media (min-width: 769px) {
  .gallery {
    display: flex;
  }
  .secondary-header {
    display: block;
  }
}
