@media (max-width: 767px) {
  .header {
    margin: 0 auto;
    .container {
      display: flex;
      height: 60px;
      align-items: center;
    }
  }
}

/*.header {
  display: flex;
  align-items: center;
  background-color: var(--headerbackground-color);
  border-bottom: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;
    background-color: var(--headerbackground-color);
  }
}*/
