.header {
  width: 100vw;

  background-color: var(--headerbackground-color);
  border-bottom: 1px solid #ececec;

  .container {
    height: 60px;
    display: flex;
    width: 100vw;
    align-items: center;
    background-color: var(--headerbackground-color);
  }
}
