.header .logo {
  font-family: "Railway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  padding-left: 15px;

  justify-content: flex-start;
  align-items: center;
}

.footer .logo {
  width: 154px;
  display: flex;
  font-family: "Railway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
  text-decoration: none;

  text-decoration: none;
  align-items: center;
  margin: 60px auto 20px;
  justify-content: center;
}

.logo {
  .logo__theme {
    color: var(--hilight-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 30.52px;
    letter-spacing: 0.03em;
  }
  .logo__upper-style {
    color: var(--logo-color);
  }
  .logo__lower-style {
    color: var(--headerbackground-color);
  }
}
