.main-section {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 480px;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/header_img.jpg");

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  [type="button"] {
    box-sizing: content-box;
    background-color: var(--buttons-color);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-align: center;
    border: none;
    font-family: "Roboto";
    width: 200px;
    height: 50px;
    border-radius: 4px;
    margin-top: 30px;
    padding: 0 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--hilight-color);
      cursor: pointer;
      color: var(--headerbackground-color);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .container {
    list-style: none;
    letter-spacing: 0.06em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
}
.main-header {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  color: var(--headerbackground-color);
  text-align: center;
  line-height: 42px;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
