/*.main-section {
  list-style: none;
  letter-spacing: 0.06em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/background_img.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  [type="button"] {
    box-sizing: content-box;
    background-color: var(--buttons-color);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-align: center;
    border: none;
    font-family: "Roboto";
    width: 200px;
    height: 50px;
    border-radius: 4px;
    margin-top: 30px;
    padding: 0 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--hilight-color);
      cursor: pointer;
      color: var(--headerbackground-color);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .container {
    list-style: none;
    letter-spacing: 0.06em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
}*/
@media (max-width: 767px) {
  .main-section {
    min-width: 320px;
    list-style: none;
    letter-spacing: 0.06em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;

    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/header_img.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
