.menu-toggle {
  margin-left: auto;

  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
