.modal-window {
  display: block;
  position: relative;
  max-width: 450px;
  height: auto;
  top: 93px;
  margin: 0 15px;
  padding-bottom: 40px;

  border-radius: 4px;
  background-color: var(--headerbackground-color);

  visibility: visible;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &__close-button {
    position: relative;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    margin-right: 8px;
    background-color: inherit;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: rgba(0, 0, 0, 1);
    cursor: pointer;
  }
  &__modal-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 2px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0;
  }
  &__modal-list {
    position: relative;
    list-style: none;
    padding-left: 40px;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 12px;

    & > li {
      padding-bottom: 10px;
    }
    &:nth-child(4) {
      padding-bottom: 20px;
    }
    &:nth-child(5) {
      padding-bottom: 30px;
      display: block;
    }
    .modal-list__label {
      display: flex;
      flex-direction: column;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 12px;
      line-height: 14.06px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 1);
      padding-bottom: 4px;
    }
    .modal-list__input-comment {
      display: flex;
      resize: none;
      width: 100%;
      height: 120px;
      border-radius: 4px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
      margin-right: 40px;

      &:focus {
        outline: 1px solid rgba(33, 150, 243, 1);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:placeholder-shown {
        padding: 12px 16px;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 12px;
        line-height: 14.06px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
      }
    }
    .modal-list__input {
      width: 100%;

      height: 40px;
      border-radius: 4px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
      padding-left: 42px;

      &:focus {
        outline: 1px solid rgba(33, 150, 243, 1);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        & + .form-icon {
          fill: rgba(33, 150, 243, 1);
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  }
  &__submit-button {
    width: 200px;
    height: 50px;
    display: block;
    margin: 30px auto 0;
    border: none;
    border-radius: 4px;
    background-color: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 0 0;

    cursor: pointer;
  }
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.backdrop {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  transition-duration: 0.5s;
  transition-delay: 0;
  transition-timing-function: linear;
}
.form-icon {
  display: flex;
  position: absolute;
  left: 53px;
  fill: rgba(33, 33, 33, 1);

  &--email {
    top: 177px;
  }
  &--phone {
    top: 110px;
  }
  &--person {
    top: 41px;
  }
}
.therms {
  display: block;
  position: relative;

  &__label {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
    position: absolute;
    padding-left: 64px;
    margin-right: 40px;

    a {
      color: rgba(33, 150, 243, 1);
    }
    &::before {
      position: absolute;
      display: block;

      left: 40px;
      cursor: pointer;
      content: "";
      width: 16px;
      height: 15px;
      transition-duration: 250ms;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Cpath fill='%23212121' d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z'/%3E%3C/svg%3E");
    }
  }
  &__checkbox {
    appearance: none;

    &:checked + .therms__label::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
      background-position: center;
      border: none;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.list-input {
  margin-right: 40px;
}
@media (min-width: 481px) and (max-width: 768px) {
  .modal-window {
    top: 208px;
    margin: 0 auto;
  }
  .backdrop {
    min-width: 590px;
  }
}
