.portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  padding-left: 0;

  &__figure {
    margin: 0 auto;
  }

  &__portfolio-list {
    flex-basis: ((100% - 2 * 30) / 3);
    background: var(--headerbackground-color);

    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06);
      cursor: pointer;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    figure:hover .box__overlay {
      transform: translateY(0);
    }
  }

  .portfolio-description {
    border-bottom: 1px solid var(--border-color);

    p {
      display: block;
      font-weight: 700;
      font-size: 18px;
      line-height: 36px;
      padding: 20px 24px 0;
      margin: 0 auto 4px;
    }

    span {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: var(--uppercontacts-color);
      padding: 0px 24px 20px;
    }
  }
}

.box {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;

  &__overlay {
    background-color: var(--hilight-color);
    width: 100%;
    height: 100%;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 1);
    display: flex;
    text-align: left;
    line-height: 28px;
    position: absolute;
    transform: translateY(101%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    > p {
      margin-top: 0;
      margin-bottom: 0;
      padding: 49px 45px 49px 24px;
    }
  }
}
