.footer {
  &__header {
    text-transform: uppercase;
    color: var(--headerbackground-color);
    padding-top: 72px;
    margin-left: 70px;
    font-weight: 700;
    margin-top: 0;
  }
  &__social-media-background {
    display: flex;
    background-color: var(--smediafooter-color);
    border-radius: 50px;
    margin-bottom: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--hilight-color);
    }
  }
  &__social-media {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-top: 20px;
    padding-left: 0;
    gap: 10px;
  }
  &__social-media-icon {
    fill: var(--headerbackground-color);
  }
}
