.team {
  &__social-media {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
    width: 206px;
    margin: 0 auto;
  }
}

.social-media {
  &__background {
    display: flex;
    border-radius: 50px;
    margin-bottom: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--hilight-color);

      .social-media__icon {
        fill: var(--headerbackground-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  &__icon {
    fill: var(--smedia-color);
  }

  & > li {
    height: 44px;
  }
}
