:root {
  --hilight-color: #2196f3;
  --text-color: #212121;
  --uppercontacts-color: #757575;
  --address-color: #ffffff99;
  --logo-color: #000000;
  --buttons-color: #f5f4fa;
  --headerbackground-color: #ffffff;
  --akcent-color: #2f303a;
  --uppericons-color: rgba(175, 177, 184, 1);
  --smedia-color: #afb1b8;
  --border-color: #eeeeee;
  --smediafooter-color: #ffffff1a;
}
